.application {
    min-width: 516px;
    width: 60vw !important;
    margin: 5em auto 2em auto !important;
}

.ui.form .fields {
    padding: 1em !important;
    margin-bottom: 0 !important;
}

.ui.form .fields.field {
    padding: 0em !important;
}


.ui.form .inline.fields .field {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin: 0;
}

.ui.form .inline.fields .field>input {
    width: 100% !important;
    padding-left: 1em;
}
