{% extends 'admin/master.html' %}
{% block body %}
    <h3>Select a CSV file to import to the database:</h3>
    <form method="POST" action="{{ url_for('provider.import_file') }}" enctype="multipart/form-data">
        <p>{{ form.hidden_tag() }}</p>
        <p>{{ form.file }}</p>
        <button type="submit" class="btn btn-primary">Upload</button>
        {% for error in form.file.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </form>
{% endblock %}
