{% extends "layout.html" %}
{% import "macros.html" as m %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
	<script src="{{ url_for('static', filename='js/position.js') }}"></script>
{% endblock %}

{% block content %}
    {{ m.searchbar(search_form, True) }}
    <div class="two-grid">
        <div id="results-panel" class="ui raised segment">
            <div class="ui block header">
                Results
            </div>
            <div id="results-list" class="ui vertical list">
                <div class="result item">
                    <div class="ui card">
                        <div class="content">
                            <div class="header">Name:</div>
                        </div>
                        <div class="content">
                            <div class="ui small feed">
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                           Speciality:
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            Address:
                                        </div>
                                    </div>
                                </div>
{#                                <div class="event">#}
{#                                    <div class="content">#}
{#                                        <div class="summary">#}
{#                                            <a>Helen Troy</a> added two pictures#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                        <div class="extra content">
                            <button class="ui button">Apply Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ m.map(GOOGLE_MAPS_API_KEY) }}
    </div>
{% endblock %}
